.side-nav {
    position: fixed;
    height: 100vh;
    background-color: white;
    width: 84px;
    border-right: 1px solid #D8D8D8;
}

.side-nav .icon {
    width: 24px;
    margin: 16px 30px;
}

.side-nav ul {
    margin: 64px 0 0;
    padding: 0;
    list-style: none;
}

.side-nav .icon.log-out {
    position: absolute;
    bottom: 0;
    left: 0;
}
